body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*                     HOME                 */

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content-wrap {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.input-style {
  height: 50px;
  border: 1px solid black;
  margin-bottom: 20px;
  

}

.input-style input {
  margin: 17px;
}

input[type=radio] {
  accent-color: black;
  cursor: pointer;
}

.button-next {
  font-family: 'Open sans';
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}


/*                         RESULT                  */
.form-container {
  display: flex;
  justify-content:center;
}

.form-inputs {
  display:flex;
  justify-content:center;
  height:100vh;
  flex-direction:column;
  gap:20px;
}

.user-name-label {
  display: flex;
  flex-direction: column;
 font-family: 'Open Sans';
 font-weight: 500;
 font-size: 50px;
 text-transform: uppercase;
}

.user-name-input {
  height: 50px;
}

.results-label {
  font-family: 'Open Sans';
  font-size: 18px;
  width: 20px;
}

.results-input {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  border:none;
}

.submit-results {
  background-color: black;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans';
  color: white;
  height: 50px;
  cursor: pointer;
}

.submit-results:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}


/*                    Sign up                      */

.signup-form {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

}

.signup-form input {
  width: 500px;
  height: 50px;
margin-bottom: 20px;
}

.signup-form button {
  color:white;
  width: 508px;
  border: none;
  height: 50px;
  background-color: black;

}


/*                     SignIn                      */

.login-form-div {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login-form {
   display: flex;
   flex-direction: column;
   width: 500px;
   /* height: 50px; */
   gap:20px;
}

.login-form h1 {
  font-family: 'Open Sans';
  font-size: 30px;
  text-align: center;
}

.login-form p {
  text-align: center;
}

.login-form input {
  border: 1px solid black;
  height: 50px;
}

.login-form button {
  border: none;
  background-color: black;
  height: 50px;
  color: white;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 500;

}

.signin-link {
  font-family: 'Open Sans';
  font-size: 20px;
  text-decoration: none;
  color: black;

}



/*                            Admin                     */

.green {
  color: green
}

.orange {
  color: orange;
}
.red {
  color: red;
}

nav {
  background-color: black;
  color: white;
  height: 70px;
  margin-top: -16px;
}

nav ul {
  display: flex;
  justify-content: space-between;  
   height: 7vh;
  align-items: center;
  padding-right: 20px;
}

nav li {
  font-family: 'Open sans';
  font-size: 18px;
  font-weight: 500;
  list-style: none;
}

.data-wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.more-datails-button {
  background-color: black;
  color: white;
  height: 50px;
  text-align: center;
  width: 500px;
}

.more-datails-button-link {
  color: white;
  text-decoration: none;
  font-family: 'Open sans';
  font-size: 18px;
  font-weight: 500;
}

.log-out{
  cursor: pointer;
}

table, th, td {
  border: 1px solid;
}

table {
  width: 500px;
}



/*                  ResultsDetails                    */

.result-details-wrap {
  display: flex;
  justify-content: center;
}

.delete-client-information {
  border: none;
  background-color:red;
  color: white;
  font-family: 'Open sans';
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 300px;
  cursor: pointer;
}

.go-back-to-dashboard {
  background-color: black;
  color: white;
  border: none;
  font-family: 'Open sans';
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 300px;
  cursor: pointer;
}


/*                        ResultSubmitted                  */
.result-submitted-wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Open sans';
  font-size: 30px;
}
