@media  screen and (max-width:600px) {

    /* .go-back-to-dashboard {
        background-color: black;
        color: white;
        border: none;
        font-family: 'Open sans';
        font-size: 18px;
        font-weight: 500;
        height: 50px;
        width: 230px;
        cursor: pointer;
    }

    .delete-client-information {
        border: none;
        background-color: red;
        color: white;
        font-family: 'Open sans';
        font-size: 18px;
        font-weight: 500;
        height: 50px;
        width: 230px;
        cursor: pointer;
    } */

  }



@media  screen and (max-width:510px) {
    table {
        width: 400px;
    }

    .more-datails-button {
        background-color: black;
        color: white;
        height: 50px;
        text-align: center;
        width: 400px;
    }

  }


  @media  screen and (max-width:470px) {

    /* .go-back-to-dashboard {
        background-color: black;
        color: white;
        border: none;
        font-family: 'Open sans';
        font-size: 12px;
        font-weight: 500;
        height: 50px;
        width: 160px;
        cursor: pointer;
    }

    .delete-client-information {
        border: none;
        background-color: red;
        color: white;
        font-family: 'Open sans';
        font-size: 12px;
        font-weight: 500;
        height: 50px;
        width: 160px;
        cursor: pointer;
    } */

  }

  @media  screen and (max-width:460px) {

    .results-input {
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 600;
        border: none;
        width: 100px;
    }

  }

  @media  screen and (max-width:410px) {
    table {
        width: 300px;
    }

    .more-datails-button {
        background-color: black;
        color: white;
        height: 50px;
        text-align: center;
        width: 300px;
    }

  }


  @media  screen and (max-width:375px) {
    .user-name-label {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
    }

  }